.pageContainer {
    padding: 50px;
    background-color: #fbfbfb;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.questionContainer {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
}

.surveyTitle {
    padding-top: 10px;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}

.surveyHeading {
    text-align: center;
    padding-top: 10px;
}

.submitButton {
    text-align: center;
}
